@model ${SOLUTION_NAMESPACE}.ViewModels.Update${entity.name}ViewModel
@{
	Layout = "~/Views/Shared/_Layout.cshtml";	
}

$env.setLanguage('C#')



<div class="row">
	<div class="col-md-12">
		<h2>Create : ${entity.name}</h2>
	</div>

	<div class="col-md-12">
		@using (Html.BeginForm(actionName: "Update", controllerName: "${entity.name}s", method: FormMethod.Post, htmlAttributes: new { @class = "form-horizontal" })) 
		{
			@Html.AntiForgeryToken()
#foreach( $attribute in $entity.nonKeyAttributes )
			<input type="hidden" name="${attribute.formattedName(0)}" value="@Model.${attribute.formattedName(0)}"/>
#end

#foreach( $attribute in $entity.nonKeyAttributes )
			<div class="form-group">
				@Html.LabelFor(model => model.${attribute.formattedName(0)}, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
                	@Html.EditorFor(model => model.${attribute.formattedName(0)}, new { htmlAttributes = new { @class = "form-control" } })
                	@Html.ValidationMessageFor(model => model.${attribute.formattedName(0)}, "", new { @class = "text-danger" })
            	</div>
			</div>
#end
			
			<div class="form-group">
            	<div class="col-md-offset-2 col-md-10">
                	<input type="submit" value="Update" class="btn btn-default" />
            	</div>
        	</div>
		}
	</div>

</div>

<div class="row">
	<div class="col-md-12">
   		@Html.ActionLink("Back to List", "Index")
	</div>
</div>
