#---------------------------------------------------------
# Templates bundle configuration file
# 5 values separated by ";"
# . value 1 : the label to be displayed 
# . value 2 : the file to be generated ( with variables replacement : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 3 : the project folder where to generate ( with variables replacement )
# . value 4 : the template to use
# . value 5 : number of execution : "1" for "ONCE" for all entities, default is multiple executions ( executed for each entity )
#---------------------------------------------------------

C# entity class          		; ${BEANNAME}.cs            			; csharp        ; csharp_entity_class.vm 					; *
C# entity controller     		; ${BEANNAME}sController.cs  			; csharp        ; csharp_entity_controller.vm 				; *
C# entity db context     		; EntitiesDbContext.cs  				; csharp        ; csharp_entity_db_context.vm 				; 1
C# entity createViewModel     	; Create${BEANNAME}ViewModel.cs  		; csharp        ; csharp_entity_create_view_model.vm 		; *
C# entity updateViewModel     	; Update${BEANNAME}ViewModel.cs  		; csharp        ; csharp_entity_update_view_model.vm 		; *
C# index view					; Index.cshtml  						; csharp        ; csharp_view_index.vm 						; 1
C# list view					; List${BEANNAME}View.cshtml			; csharp 		; csharp_view_list.vm 						; *
C# create view					; Create${BEANNAME}View.cshtml			; csharp 		; csharp_view_create.vm 					; *
C# update view					; Update${BEANNAME}View.cshtml			; csharp 		; csharp_view_update.vm 					; *